<div class="main">
  <div class="maintb" style="overflow: scroll">
  <table class="t01">
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>FatherName</strong></th>
      <th><strong>DoctorName</strong></th>
      <th><strong>ContactNo</strong></th>
      <th><strong>Age</strong></th>
      <th><strong>RoomNo</strong></th>
      <th><strong>DOB</strong></th>
      <th><strong>Address</strong></th>
      <th><strong>AdmitDate</strong></th>
      <th><strong>DischargeDate</strong></th>
      <th><strong>History</strong></th>


  </table>
</div>

<div class="container1">

  <div class="row" style="margin-top:20px">
    <div class="col-xs-3 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-0">
      <form role="form">
        <fieldset>
          <h2>New Patient...??</h2>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="name" name="name" id="name" class="form-control input-lg" placeholder="name">
          </div>
          <div class="form-group">
            <input type="fname" name="fname" id="fname" class="form-control input-lg" placeholder="fathername">
          </div>
          <div class="form-group">
            <input type="dname" name="fname" id="dname" class="form-control input-lg" placeholder="dname">
          </div>
          <div class="form-group">
            <input type="contactno" name="contactno" id="contactno" class="form-control input-lg" placeholder="contactno">
          </div>
          <div class="form-group">
            <input type="age" name="age" id="age" class="form-control input-lg" placeholder="age">
          </div>
          <div class="form-group">
            <input type="roomno" name="roomno" id="roomno" class="form-control input-lg" placeholder="roomno">
          </div>
          <div class="form-group">
            <input type="dob" name="dob" id="dob" class="form-control input-lg" placeholder="dob">
          </div>

          <div class="form-group">
            <input type="sex" name="sex" id="sex" class="form-control input-lg" placeholder="sex">
          </div>
          <div class="form-group">
            <input type="address" name="address" id="address" class="form-control input-lg" placeholder="address">
          </div>
          <div class="form-group">
            <input type="admitdate" name="admitdate" id="admitdate" class="form-control input-lg" placeholder="admitdate">
          </div>
          <div class="form-group">
            <input type="disdate" name="disdate" id="disdate" class="form-control input-lg" placeholder="disdate">
          </div>
          <div class="form-group">
            <input type="history" name="pattype" id="history" class="form-control input-lg" placeholder="history">
          </div>

          <div class="container">
            <form>
              <label class="radio-inline">
                <input type="radio" name="optradio">opd patient
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio">per patient
              </label>
            </form>
          </div>






          <hr class="colorgraph">

          <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="" class="btn btn-lg btn-primary btn-block" [routerLink]="['/dashboard']">ADD</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

</div>
<script>
  $(function(){
    $('.button-checkbox').each(function(){
      var $widget = $(this),
        $button = $widget.find('button'),
        $checkbox = $widget.find('input:checkbox'),
        color = $button.data('color'),
        settings = {
          on: {
            icon: 'glyphicon glyphicon-check'
          },
          off: {
            icon: 'glyphicon glyphicon-unchecked'
          }
        };

      $button.on('click', function () {
        $checkbox.prop('checked', !$checkbox.is(':checked'));
        $checkbox.triggerHandler('change');
        updateDisplay();
      });

      $checkbox.on('change', function () {
        updateDisplay();
      });

      function updateDisplay() {
        var isChecked = $checkbox.is(':checked');
        // Set the button's state
        $button.data('state', (isChecked) ? "on" : "off");

        // Set the button's icon
        $button.find('.state-icon')
          .removeClass()
          .addClass('state-icon ' + settings[$button.data('state')].icon);

        // Update the button's color
        if (isChecked) {
          $button
            .removeClass('btn-default')
            .addClass('btn-' + color + ' active');
        }
        else
        {
          $button
            .removeClass('btn-' + color + ' active')
            .addClass('btn-default');
        }
      }
      function init() {
        updateDisplay();
        // Inject the icon if applicable
        if ($button.find('.state-icon').length == 0) {
          $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
        }
      }
      init();
    });
  });
</script>
