<div class="main">
  <div class="maintb" style="overflow: scroll">
  <table class="t01">
    <tr>
      <th><strong>Doctor Name</strong></th>
      <th><strong>OPD Name</strong></th>
      <th><strong>Timing</strong></th>
      <th><strong>WardNo</strong></th>



  </table>
</div>
<div class="container1">

  <div class="row" style="margin-top:20px">
    <div class="col-xs-3 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-0">
      <form role="form">
        <fieldset>
          <h2>New Opd </h2>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="dname" name="dname" id="dname" class="form-control input-lg" placeholder="doctorname">
          </div>
          <div class="form-group">
            <input type="opdname" name="opdname" id="opdname" class="form-control input-lg" placeholder="opdname">
          </div>
          <div class="form-group">
            <input type="timing" name="password" id="timing" class="form-control input-lg" placeholder="timing">
          </div>
          <div class="form-group">
            <input type="wardno" name="wardno" id="wardno" class="form-control input-lg" placeholder="wardno">
          </div>



          <hr class="colorgraph">

          <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="" class="btn btn-lg btn-primary btn-block" [routerLink]="['/dashboard']">ADD</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
</div>

<script>
  $(function(){
    $('.button-checkbox').each(function(){
      var $widget = $(this),
        $button = $widget.find('button'),
        $checkbox = $widget.find('input:checkbox'),
        color = $button.data('color'),
        settings = {
          on: {
            icon: 'glyphicon glyphicon-check'
          },
          off: {
            icon: 'glyphicon glyphicon-unchecked'
          }
        };

      $button.on('click', function () {
        $checkbox.prop('checked', !$checkbox.is(':checked'));
        $checkbox.triggerHandler('change');
        updateDisplay();
      });

      $checkbox.on('change', function () {
        updateDisplay();
      });

      function updateDisplay() {
        var isChecked = $checkbox.is(':checked');
        // Set the button's state
        $button.data('state', (isChecked) ? "on" : "off");

        // Set the button's icon
        $button.find('.state-icon')
          .removeClass()
          .addClass('state-icon ' + settings[$button.data('state')].icon);

        // Update the button's color
        if (isChecked) {
          $button
            .removeClass('btn-default')
            .addClass('btn-' + color + ' active');
        }
        else
        {
          $button
            .removeClass('btn-' + color + ' active')
            .addClass('btn-default');
        }
      }
      function init() {
        updateDisplay();
        // Inject the icon if applicable
        if ($button.find('.state-icon').length == 0) {
          $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
        }
      }
      init();
    });
  });
</script>
