<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <!--<a class="navbar-brand" ><img id="logo-custom" src="../src/app/home/footer/images/logoo.png" /></a>-->

      <!--<a class="navbar-brand" ><img class="logo-custom" src="src/app/home/footer/images/logoo.png" /></a>-->

      <!--<h4 id="logo">-->
      <!--<a [routerLink]="['/Home']"></a>-->
      <!--</h4>-->

      <a href="../" class="navbar-brand">PARKLANE HOSPITAL</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">


      </ul>


      <ul class="nav navbar-nav navbar-right">

        <li><a [routerLink]="['/dashboard/dcarea/patient']">Patient</a></li>
        <router-outlet></router-outlet>

        <li><a [routerLink]="['/dashboard/dcarea/doctor']">Doctor</a></li>
        <router-outlet></router-outlet>

        <li><a [routerLink]="['/dashboard/dcarea/opd']">OPD</a></li>
        <router-outlet></router-outlet>

        <li><a [routerLink]="['/register']">Register</a></li>
        <router-outlet></router-outlet>

        <li><a [routerLink]="['/dashboard/dcarea/about']">About</a></li>
        <router-outlet></router-outlet>

        <li><a [routerLink]="['/home']">Sign Out</a></li>
        <router-outlet></router-outlet>
      </ul>

    </div>
  </div>
</div>
