<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <!--<a class="navbar-brand" ><img id="logo-custom" src="../src/app/home/footer/images/logoo.png" /></a>-->

      <!--<a class="navbar-brand" ><img class="logo-custom" src="src/app/home/footer/images/logoo.png" /></a>-->

      <!--<h4 id="logo">-->
      <!--<a [routerLink]="['/Home']"></a>-->
      <!--</h4>-->

      <a href="../" class="navbar-brand">PARKLANE HOSPITAL</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">


      </ul>


      <ul class="nav navbar-nav navbar-right">

        <li><a [routerLink]="['/home']">Back To Home</a></li>
        <router-outlet></router-outlet>

      </ul>

    </div>
  </div>
</div>


<div class="container">

  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-12 col-md-10 col-sm-offset-3 col-md-offset-1">
      <form role="form">
        <fieldset>
          <h2>Sign In</h2>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
          </div>

          <div class="container">
            <form>
              <label class="radio-inline">
                <input type="radio" name="optradio">Admin
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio">Receptionist
              </label>
            </form>
          </div>

          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In" [routerLink]="['/dashboard']">
            </div>
            <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
            <!--<a class="btn btn-lg btn-primary btn-block" [routerLink]="['/register']">Register</a>-->
            <!--</div>-->
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>

<div>
  <app-dfooter></app-dfooter>
</div>


<script>
  $(function(){
    $('.button-checkbox').each(function(){
      var $widget = $(this),
        $button = $widget.find('button'),
        $checkbox = $widget.find('input:checkbox'),
        color = $button.data('color'),
        settings = {
          on: {
            icon: 'glyphicon glyphicon-check'
          },
          off: {
            icon: 'glyphicon glyphicon-unchecked'
          }
        };

      $button.on('click', function () {
        $checkbox.prop('checked', !$checkbox.is(':checked'));
        $checkbox.triggerHandler('change');
        updateDisplay();
      });

      $checkbox.on('change', function () {
        updateDisplay();
      });

      function updateDisplay() {
        var isChecked = $checkbox.is(':checked');
        // Set the button's state
        $button.data('state', (isChecked) ? "on" : "off");

        // Set the button's icon
        $button.find('.state-icon')
          .removeClass()
          .addClass('state-icon ' + settings[$button.data('state')].icon);

        // Update the button's color
        if (isChecked) {
          $button
            .removeClass('btn-default')
            .addClass('btn-' + color + ' active');
        }
        else
        {
          $button
            .removeClass('btn-' + color + ' active')
            .addClass('btn-default');
        }
      }
      function init() {
        updateDisplay();
        // Inject the icon if applicable
        if ($button.find('.state-icon').length == 0) {
          $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
        }
      }
      init();
    });
  });
</script>
