.dfooter-bottom {
  background-color: #15224f;
  height: 6%;
  width: 100%;
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
  margin-bottom: 0%;

}


.copyright {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  vertical-align: middle;
}
