.carousel{
  margin-top: 5%;
  /*padding-right: 10%;*/
  /*padding-bottom: 29%;*/
  /*padding-left: 10%;*/
  background-color: #c4e17f;
}
.footer-bottom{
  background-color: #15224f;
  height: 50px;
  width: 100%;
  margin-top:5%;
  margin-bottom: 0%;
}


.logo-custom {
  max-height: 40px;
}

#header h4#logo {
  float: left;
  margin: 0;
}

#header h4#logo a {
  background: url(/src/app/logo.png) no-repeat top left;
  width: 194px;
  height: 48px;
  margin: 8px;
  display: block;
  text-indent: -9999px;
}
.main
{
  background-image: url("3.jpg");

}
.navbar-default{
  margin-bottom: 7%;
}
