<div class="main">
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <!--<a class="navbar-brand" ><img id="logo-custom" src="../src/app/home/footer/images/logoo.png" /></a>-->

      <!--<a class="navbar-brand" ><img class="logo-custom" src="src/app/home/footer/images/logoo.png" /></a>-->

      <h4 id="logo">
        <a [routerLink]="['/Home']"></a>
      </h4>

      <a href="../" class="navbar-brand">PARKLANE HOSPITAL</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">


      </ul>


      <ul class="nav navbar-nav navbar-right">

        <li><a [routerLink]="['/login']">Sign In</a></li>
        <router-outlet></router-outlet>
      </ul>




    </div>
  </div>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="carousel">
  <app-content-area></app-content-area>

</div>




<div class="footer-bottom">
  <app-footer></app-footer>
</div>

</div>
