<div class="container">

  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form">
        <fieldset>
          <h2>Register</h2>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="name" name="name" id="name" class="form-control input-lg" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="email" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="email" name="email" id="password" class="form-control input-lg" placeholder="Email Address">
          </div>

          <div class="container">
            <form>
              <label class="radio-inline">
                <input type="radio" name="optradio">Admin
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio">Receptionist
              </label>
            </form>
          </div>

          <hr class="colorgraph">

          <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="" class="btn btn-lg btn-primary btn-block" [routerLink]="['/dashboard']">Register</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
<script>
    $(function(){
        $('.button-checkbox').each(function(){
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });

            $checkbox.on('change', function () {
                updateDisplay();
            });

            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');
                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$button.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $button
                        .removeClass('btn-default')
                        .addClass('btn-' + color + ' active');
                }
                else
                {
                    $button
                        .removeClass('btn-' + color + ' active')
                        .addClass('btn-default');
                }
            }
            function init() {
                updateDisplay();
                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });
</script>
